
{% load static %}
{% block script %}
    <script src="{% static 'stemlife/main_page.js' %}"></script>
    <!-- <script src="{% static 'stemlife/style.css' %}"></script>
    <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{% static 'stemlife/style.css' %}">
{% endblock %}



{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Life As STEM</title>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card">
        <div class="h1">Life As STEM</div>
        {% if user.is_authenticated %}
            <div class="pIntro">Greetings {{request.user.username}}, welcome to Life as STEM! </div>
        {% else %}
            <div class="pIntro">Greetings fellow humans. Welcome to Life as STEM! </div>
        {% endif %}
        <!-- <div class="game" id="game"> -->
            <div class="scores"id="score">
                <h2 id="playerScore">Age: 10</h2>
            </div>
            <div class="box">
                <canvas id="myCanvas" width="500" height="400"style="border: 1px solid black; background-color: #f4d8cdff;"></canvas>
                <!-- <input type="readonly"> -->
            </div>
            <div class="newGameButton">
                <button id="new"font-size: "27px" font-weight: "bolder">+</button>
            </div>
            <div class="search">
                <input type="text" placeholder="Text" spellcheck="false">
            </div>
            <div class = "computerInput"id="computerInput">
                <input type="text" spellcheck="false" visibility="hidden" color="white">
            </div> 
            <div class="loginForm">
                <form action="">
                    <button id="ans_one"text=""font-size="12x"font-weight: "normal"; ></button>
                </form>
                <form action="">
                    <button id="ans_two"text=""font-size="12x"font-weight: "normal"></button>
                </form>
                <form action="">
                    <button id="ans_three"text=""font-size="12x"font-weight: "normal"></button>
                </form>
                <form action="">
                    <button id="ans_four" text=""font-size="12x"font-weight: "normal"></button>
                </form>
            </div>
        <!-- </div> -->
    </div>
</body>
    <script src="life_as_stem.js"></script>
    <script src="main_page.js"></script>
</html>

{% endblock %}